html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  animation: dimmer 10s linear both;
}

@keyframes dimmer {
  0% {
    background: #fff;
    filter: invert(0%);
  }

  100% {
    background: #000;
    filter: invert(100%);
  }
}

